* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lexend", "Helvetica Neue", "Helvetica", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background: #086f77;
    align-content: flex-start;
}

header {
    background-color: #fff;
    color: #000;
    display: flex;
    width: 8in;
    padding: 1rem;
    margin: 1rem;
    border-bottom: 1px solid #0004;
    border-top: 1px solid #0004;
    justify-content: space-between;
    align-items: flex-start;
}

h1 {
    margin-top: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 8.25in;
    height: 90vh;
    background-color: #fff;
    box-shadow: 4px 0px 4px #0004;
    margin: 0 auto;
}

footer {
    background-color: #666;
    color: #eee;
    height: 0vh;
}

nav {
    box-shadow: -4px 0px 4px #0003;
    width: 8.25in;
    margin: 0 auto;
}

li {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
}

.prehead {
    display: flex;
    justify-content: space-between;
    width: 8in;
    border-top: 1px solid #0004;
    margin-top: 1rem;
    padding-top: 1rem;
}

.info {}

blockquote {
    margin-left: 2rem;
    font-weight: 300;
    font-size: 16px;
}

.address {
    padding: 0 1rem;
    position: relative;
}

.address blockquote p {
    margin-top: 0.5rem;
}

.address label {
    font-size: 1.1rem;
    font-weight: 400;
}

table.lineitems {
    width: 8in;
    border-collapse: collapse;
    border: 1px solid #0003;
}

table.tally label {
    width: 15rem;
}

table.lineitems td {
    border-bottom: 1px solid #0003;
    vertical-align: top;
}

table.tally {
    border-collapse: collapse;
    width: 2in;
    float: right;
}

table.tally td {
    border-bottom: 1px solid #0000;
}

table.lineitems td {
    padding: 0.25rem;
    height: 2rem;
}

table.lineitems>tbody>tr:nth-child(2n)>td {
    background-color: #eee;
}

table.lineitems>tbody>tr>td:nth-child(3) {
    text-align: center;
}

table.lineitems thead th {
    border-bottom: 1px solid #0003;
    border-top: 1px solid #0003;
    background: #333;
    color: #eee;
    font-weight: 300;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    color: #00c;
    text-decoration: underline;
}

[contenteditable=""] {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #0003;
}

.print [contenteditable=""] {
    border: 0px;
}

[contenteditable=""]:hover,
[contenteditable="true"]:hover {
    background-color: #fff;
    outline: 1px solid #08c9;
}

[contenteditable=""]:before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "edit me!";
    background: #333;
    color: #fff;
    height: 0rem;
    width: 5rem;
    top: 0rem;
    overflow: hidden;
    transition: all 200ms linear;
}

[contenteditable=""]:hover:before {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "edit me!";
    background: #333;
    color: #fff;
    height: 2rem;
    width: 5rem;
    top: -2rem;
}

table.lineitems tr td[contenteditable=""],
span[contenteditable=""] {
    background-color: #fff;
    border-bottom: 1px solid #0006;
}

table .lineitem:hover:after {
    display: inline-block;
    position: absolute;
    content: "x";
    height: 1rem;
    width: 1rem;
    text-align: center;
    padding-bottom: 2px;
    background: #ccc;
    border: 1px solid #0006;
    border-radius: 50%;
    pointer-events: auto;
}

tr {
    position: relative;
}

.print input {
    border: 0px;
}

.print #lastrow {
    display: none;
}

select {
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    padding: 0.5rem;
    color: #333;
}

option {
    margin-top: 0.5rem;
}

option[SELECTED=true] {
    background-color: #9cf;
}

input {
    width: 15rem;
}

input,
#invoice_id {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dashed #000a;
    font-size: 16px;
    font-weight: 300;
    font-family: "Lexend", sans-serif;
}

#date {
    width: 8rem;
}

#invoice_id {
    width: 8rem;
    padding-left: 1rem;
    display: inline-block;
}

input:hover,
input:focus {
    background-color: #ff03;
}

blockquote#to>label {
    width: 2rem;
    color: #919191;
    display: inline-block;
    text-align: center;
}

.toolbar {
    text-align: right;
    background: #35363a;
    height: 5vh;
}

#invoices {
    width: 100%;
}

dialog#importDialog {
    width: 30rem;
    padding: 1rem;
    margin: 0 auto;
    top: 10vh;
}

dialog#importDialog p {
    margin-bottom: 1rem;
}

dialog#importDialog h2 {
    margin-bottom: 1rem;
}

dialog::backdrop {
    background-color: #0009;
}

@media only screen and (max-width:450px) {
    body {
        flex-direction: column;
    }
    main {
        flex-direction: column;
        width: 100vw;
        height: 90vh;
    }
    .toolbar {
        height: 10vh;
        width: 100vw;
    }
    #invoices {
        height: 3rem;
    }
}

button.btn {
    height: 5vh;
    width: 5vh;
    background-color: transparent;
    font-size: 12px;
    padding-top: 26px;
    border: none;
}

button:hover {
    background-color: #fff3;
}

button:active {
    position: relative;
    top: 1px;
    background-color: #fff6;
}

button#importBtn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="189px" height="214px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M27.876,187.275 C28.015,187.415 28.154,187.554 28.293,187.694 C72.564,187.694 116.848,187.694 161.118,187.694 C161.118,169.984 161.118,152.268 161.118,134.558 C161.257,134.419 161.397,134.279 161.536,134.140 C170.446,134.140 179.358,134.140 188.268,134.140 C188.412,147.598 188.100,181.624 188.100,189.533 C188.100,197.442 181.585,204.011 181.585,204.011 C181.585,204.011 177.874,214.030 162.539,213.995 C126.914,213.915 36.505,213.691 26.789,213.691 C17.073,213.691 9.080,206.103 9.080,206.103 C9.080,206.103 1.413,195.932 1.413,189.030 C1.413,182.128 -0.000,134.000 -0.000,134.000 L27.000,134.000 "/><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M95.211,154.015 L163.000,74.817 L112.158,74.817 L112.158,0.000 L73.421,0.000 L73.421,74.817 L25.000,74.817 L95.211,154.015 Z"/></svg>');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}

button#exportBtn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="218px" height="219px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M153.750,75.007 C98.397,74.327 99.955,83.332 68.226,106.970 C67.693,68.739 100.646,42.631 112.052,37.077 C124.544,30.994 143.114,32.247 153.750,31.963 C153.750,21.310 153.750,10.653 153.750,-0.000 C154.176,0.142 154.601,0.284 155.027,0.426 C176.016,18.040 197.011,35.658 218.000,53.272 C218.000,53.556 218.000,53.840 218.000,54.124 C196.586,71.737 175.165,89.356 153.750,106.970 C153.750,96.316 153.750,85.660 153.750,75.007 ZM27.378,54.976 C27.378,54.976 27.378,146.608 27.378,191.778 C27.520,191.920 27.662,192.062 27.803,192.204 C72.901,192.204 118.013,192.204 163.111,192.204 C163.111,174.165 163.111,156.120 163.111,138.080 C163.253,137.938 163.395,137.796 163.537,137.654 C172.613,137.654 181.692,137.654 190.768,137.654 C190.915,151.363 190.597,186.022 190.597,194.078 C190.597,202.134 183.960,208.825 183.960,208.825 C183.960,208.825 180.180,219.030 164.558,218.995 C128.267,218.914 36.169,218.685 26.271,218.685 C16.373,218.685 8.231,210.956 8.231,210.956 C8.231,210.956 0.421,200.596 0.421,193.565 C0.421,186.535 0.146,80.973 0.146,80.973 C0.146,80.973 -0.365,62.549 0.450,54.397 C1.058,48.314 2.405,42.984 5.252,39.208 C9.762,33.229 16.727,28.008 26.144,28.008 C35.562,28.008 54.610,28.554 54.610,28.554 L55.035,28.980 L54.610,54.550 L27.378,54.976 Z"/></svg>');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}

button#delBtn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="179px" height="214px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M129.284,23.093 C145.804,22.858 172.598,18.887 177.700,31.227 C179.668,35.989 178.841,44.768 178.746,51.171 C119.170,51.171 59.576,51.171 0.000,51.171 C0.174,44.786 0.349,38.400 0.523,32.015 C5.295,18.877 31.898,22.616 49.201,22.830 C48.787,-0.584 66.057,0.000 89.242,-0.000 C112.668,-0.000 129.704,-0.647 129.284,23.093 ZM62.810,23.093 C80.517,23.005 98.229,22.918 115.937,22.830 C116.010,18.771 115.268,15.630 112.796,14.170 C110.314,12.705 69.267,12.353 66.212,13.908 C63.283,15.399 62.672,18.418 62.810,23.093 ZM7.590,60.356 C62.107,60.443 116.640,60.531 171.157,60.618 C165.836,97.965 160.514,135.323 155.193,172.670 C153.407,183.038 153.649,205.093 148.912,212.557 C143.308,214.805 132.437,213.344 125.358,213.344 C103.290,213.344 81.214,213.344 59.146,213.344 C50.506,213.344 35.198,215.492 29.050,212.032 C21.897,161.478 14.742,110.909 7.590,60.356 ZM88.981,84.760 C86.205,85.816 83.934,86.455 82.961,89.221 C82.874,114.411 82.787,139.608 82.700,164.797 C82.699,173.678 80.237,188.464 88.719,188.939 C98.393,189.482 95.786,175.392 95.785,166.372 C95.698,140.570 95.611,114.761 95.523,88.959 C94.539,86.419 92.169,85.163 88.981,84.760 ZM46.846,85.023 C44.353,86.172 42.149,86.969 41.350,89.746 C43.531,115.635 45.712,141.532 47.893,167.421 C48.907,174.993 46.718,190.540 56.791,188.677 C64.694,187.215 62.065,174.151 60.978,166.109 C58.623,140.395 56.267,114.673 53.912,88.959 C52.809,86.428 50.451,85.144 46.846,85.023 ZM129.545,85.023 C127.250,86.183 125.062,87.110 124.311,89.746 C122.131,114.411 119.949,139.083 117.769,163.747 C116.640,171.994 113.689,187.295 121.956,188.677 C131.859,190.332 129.599,175.576 130.592,167.946 C132.511,146.955 134.431,125.957 136.350,104.966 C137.551,95.980 139.770,85.101 129.545,85.023 Z"/></svg>');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-repeat: no-repeat;
}

button#newBtn {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="211px" height="217px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M80.000,-0.000 L130.000,-0.000 L130.000,83.000 L211.000,83.000 L211.000,133.000 L130.000,133.000 L130.000,217.000 L80.000,217.000 L80.000,133.000 L-0.000,133.000 L-0.000,83.000 L80.000,83.000 L80.000,-0.000 Z"/></svg>');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
}

button#archiveBtn {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="226px" height="198px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M218.302,0.038 C222.626,1.933 222.667,2.079 225.655,4.945 C226.136,12.273 226.064,25.392 225.655,36.840 C224.430,37.249 223.204,40.111 221.979,40.520 C148.453,40.520 4.554,40.844 1.379,40.520 C-1.056,39.662 0.562,38.066 0.153,36.840 C0.153,33.573 0.341,9.251 0.153,4.945 C-0.174,0.211 8.910,0.218 11.183,0.038 C13.456,-0.141 163.566,0.447 218.302,0.038 ZM16.085,49.107 C81.442,49.516 146.818,49.925 212.174,50.334 C212.174,94.900 212.174,139.480 212.174,184.046 C208.774,188.648 207.014,194.246 201.144,196.313 C156.212,196.722 111.266,197.131 66.333,197.540 C47.288,197.540 22.052,201.181 16.085,187.726 C11.197,179.892 13.634,160.451 13.634,148.471 C13.634,115.762 13.634,83.043 13.634,50.334 C14.451,49.925 15.268,49.516 16.085,49.107 ZM76.138,72.415 C72.785,77.192 71.249,79.346 71.235,88.362 C68.900,98.062 126.340,93.536 149.671,93.269 C154.844,92.418 157.586,82.936 153.348,74.868 C155.056,70.003 99.469,72.148 76.138,72.415 Z"/></svg>');
}

button#saveBtn {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="232px" height="232px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M119.312,0.000 C127.539,0.000 135.769,0.000 143.996,0.000 C145.040,3.162 144.264,8.608 144.264,12.318 C144.264,21.332 144.264,30.350 144.264,39.364 C143.795,40.126 144.082,41.365 143.728,42.310 C143.129,43.903 141.559,46.440 140.240,47.397 C138.727,48.495 136.666,49.331 134.605,49.808 C131.905,50.432 128.217,49.631 126.556,49.004 C116.104,45.063 119.043,30.885 119.044,17.138 C119.044,12.868 118.191,3.325 119.312,0.000 ZM51.431,0.268 C51.431,21.510 51.431,42.758 51.431,64.000 C94.534,64.000 137.650,64.000 180.754,64.000 C180.754,42.758 180.754,21.510 180.754,0.268 C183.526,0.268 186.299,0.268 189.071,0.268 C203.379,14.280 217.692,28.297 232.000,42.310 C232.000,101.394 232.000,160.497 232.000,219.582 C231.464,220.389 231.603,221.559 231.195,222.527 C229.821,225.791 226.907,229.159 223.683,230.561 C218.287,232.906 205.609,231.632 198.194,231.632 C179.146,231.632 160.092,231.632 141.045,231.632 C106.794,231.632 72.534,231.632 38.284,231.632 C21.581,231.632 6.139,234.823 0.989,222.527 C-0.579,218.782 0.184,212.002 0.184,206.996 C0.184,195.929 0.184,184.858 0.184,173.791 C0.184,135.234 0.184,96.666 0.184,58.109 C0.184,46.952 0.184,35.792 0.184,24.636 C0.184,16.088 -0.240,10.246 3.404,5.356 C7.194,0.270 14.216,0.268 23.259,0.268 C32.648,0.268 42.041,0.268 51.431,0.268 ZM34.259,102.025 C31.705,103.814 29.449,103.650 28.088,106.845 C26.640,110.245 27.552,116.933 27.552,121.305 C27.552,132.283 27.552,143.265 27.552,154.243 C27.552,168.880 27.552,183.522 27.552,198.159 C27.552,205.317 26.706,212.465 31.040,215.297 C33.678,217.022 38.498,216.636 42.845,216.636 C51.251,216.636 59.660,216.636 68.066,216.636 C100.259,216.636 132.462,216.636 164.655,216.636 C172.704,216.636 180.755,216.636 188.803,216.636 C196.016,216.636 201.185,216.817 203.828,212.351 C205.473,209.573 204.633,203.073 204.633,198.962 C204.633,188.252 204.633,177.539 204.633,166.828 C204.633,151.566 204.633,136.300 204.633,121.038 C204.633,114.706 205.627,106.623 201.950,103.900 C198.837,101.594 193.242,102.025 187.730,102.025 C177.356,102.025 166.980,102.025 156.606,102.025 C115.828,102.025 75.037,102.025 34.259,102.025 ZM58.675,122.912 C90.064,122.912 121.461,122.912 152.850,122.912 C162.883,122.912 176.544,120.587 179.681,127.732 C180.079,128.640 180.888,130.042 180.485,131.749 C179.855,134.420 178.044,137.018 175.656,137.908 C173.634,138.662 170.099,138.176 167.607,138.176 C161.794,138.176 155.980,138.176 150.167,138.176 C128.258,138.176 106.342,138.176 84.432,138.176 C78.083,138.176 71.732,138.176 65.383,138.176 C62.685,138.176 58.733,138.741 56.529,137.908 C52.724,136.470 50.021,130.367 53.041,126.126 C54.569,123.978 56.530,124.274 58.675,122.912 ZM58.407,151.565 C89.974,151.565 121.551,151.565 153.118,151.565 C158.592,151.565 173.037,150.565 176.461,152.368 C178.011,153.185 178.868,154.758 179.681,156.385 C180.132,157.289 180.924,158.926 180.485,160.669 C179.831,163.270 177.977,165.624 175.656,166.561 C173.779,167.318 170.240,166.829 167.875,166.828 C161.973,166.828 156.069,166.828 150.167,166.828 C119.226,166.828 88.275,166.828 57.333,166.828 C52.943,165.599 49.834,159.497 53.041,154.778 C54.344,152.859 56.430,152.867 58.407,151.565 ZM57.602,180.485 C89.348,180.485 121.104,180.485 152.850,180.485 C158.037,180.485 163.225,180.485 168.412,180.485 C170.686,180.485 173.831,180.065 175.656,180.753 C178.021,181.645 181.515,185.230 180.485,189.322 C179.929,191.534 178.281,193.995 176.461,194.946 C174.390,196.028 170.958,195.749 167.875,195.749 C161.973,195.749 156.069,195.749 150.167,195.749 C128.615,195.749 107.057,195.749 85.505,195.749 C79.067,195.749 72.626,195.749 66.187,195.749 C63.348,195.749 59.434,196.296 57.065,195.481 C54.085,194.456 50.211,190.271 51.967,185.573 C52.885,183.119 54.818,182.369 56.529,180.753 C57.153,180.701 57.287,180.702 57.602,180.485 Z"/></svg>');
}

button#printBtn {
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="241px" height="191px"><path fill-rule="evenodd" fill="rgb(200, 200, 200)" d="M52.228,-0.000 C97.738,-0.000 143.262,-0.000 188.772,-0.000 C188.772,13.413 188.772,26.829 188.772,40.242 C199.397,40.242 210.026,40.242 220.652,40.242 C228.830,40.242 235.034,40.088 238.397,44.747 C242.011,49.755 240.803,60.895 240.803,69.373 C240.803,88.691 240.803,108.015 240.803,127.333 C240.803,137.363 241.806,146.876 235.991,151.058 C232.265,153.737 226.287,153.461 219.750,153.461 C209.425,153.461 199.097,153.461 188.772,153.461 C188.772,165.973 188.772,178.488 188.772,191.000 C143.262,191.000 97.738,191.000 52.228,191.000 C52.228,178.488 52.228,165.973 52.228,153.461 C41.903,153.461 31.575,153.461 21.250,153.461 C14.716,153.461 8.731,153.740 5.009,151.058 C-0.803,146.870 0.197,137.368 0.197,127.333 C0.197,108.015 0.197,88.691 0.197,69.373 C0.197,60.900 -1.014,49.749 2.603,44.747 C5.964,40.100 12.183,40.242 20.348,40.242 C30.974,40.242 41.603,40.242 52.228,40.242 C52.228,26.829 52.228,13.413 52.228,-0.000 ZM63.958,11.712 C63.958,21.121 63.958,30.533 63.958,39.942 C66.792,40.871 71.682,40.242 75.086,40.242 C82.905,40.242 90.726,40.242 98.545,40.242 C124.608,40.242 150.679,40.242 176.741,40.242 C176.842,40.142 176.942,40.042 177.042,39.942 C177.042,30.533 177.042,21.121 177.042,11.712 C139.351,11.712 101.649,11.712 63.958,11.712 ZM211.328,57.660 C210.380,58.541 209.413,58.659 208.922,60.063 C207.826,61.524 207.836,68.510 208.922,69.973 C209.354,71.327 210.174,71.515 211.028,72.376 C214.712,72.421 219.069,72.487 221.855,71.775 C223.753,68.665 223.758,63.678 222.757,59.462 C219.302,57.182 216.998,57.606 211.328,57.660 ZM63.958,112.618 C63.958,134.839 63.958,157.067 63.958,179.288 C101.649,179.288 139.351,179.288 177.042,179.288 C177.042,157.067 177.042,134.839 177.042,112.618 C139.351,112.618 101.649,112.618 63.958,112.618 ZM78.394,127.033 C106.462,127.033 134.538,127.033 162.606,127.033 C162.363,130.568 162.596,133.681 162.606,138.445 C160.648,139.087 157.257,138.745 154.786,138.745 C148.772,138.745 142.755,138.745 136.741,138.745 C117.394,138.745 98.042,138.745 78.695,138.745 C77.703,135.789 78.369,130.574 78.394,127.033 ZM78.394,153.160 C106.462,153.160 134.538,153.160 162.606,153.160 C162.606,157.064 162.606,160.969 162.606,164.873 C134.538,164.873 106.462,164.873 78.394,164.873 C78.394,160.969 78.394,157.064 78.394,153.160 Z"/></svg>');
}